body {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #f3f6ff;
    margin: 0px;
    padding: 0px;

    height: 100%; 
}

/* NAVBAR-CONTAINER */

.logo {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 4vh;
}

.wcw {
    animation: background-pan 3s linear infinite;
    background: linear-gradient(
      to right,
      var(--purple),
      var(--violet),
      var(--pink),
      var(--purple)
    );

    background-size: 200%;
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;

    font-size: 35px;
}

.logo li a {
    text-decoration: none;
}

.logo li {
    list-style-type: none;
}


header.navbar-container {
    width: 100%;
    max-width: 1100px;
    padding-block: 1rem;
    margin-inline: auto;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    z-index: 9999;
}

header.navbar-container .nav-list ul {
    padding-left: 0;
    display: flex;
    justify-content: center;
    /* gap: 2rem 1rem; */
}

header.navbar-container .nav-list li {
    list-style-type: none;
}


header.navbar-container .nav-list li a {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    /* padding-left: 2.5rem;
    padding-right: 0rem; */
    font-size: 1.2rem;
    /* border-radius: 999px; */
    text-decoration: none;
    /* font-size: 1.05rem; */
    /* font-weight: 500; */
    color: black;
    /* transition: all 0.2s ease-in-out; */
    margin: auto;
}


.fancy-link{
    text-decoration: none;
    color: black;
    position: relative;
    /* padding: 0 10px; */
}

.fancy-link::after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    bottom: -10px;
    background-color: currentColor;

    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease-in;
}

.fancy-link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
    width: 100%;
}

.nav-list a {
    /* width: 20vw; */
    min-width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
}

/* PERSON */

img {
    max-width: 100%;
    display: block;
}

.person {
    position: relative;
    max-width: 18rem;
    margin-inline: auto;
    --transform-speed: 350ms;
  }

  .container {
    /* background: pink; */
    aspect-ratio: 1 / 1.4;
    display: flex;
    align-items: end;
    border-radius: 0 0 100vw 100vw;
    overflow: hidden;
    transition: transform var(--transform-speed) ease-in-out;
  }

.circle {
    position: absolute;
    /* inset: auto 0 0; */
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 100%;
    border-radius: 50%;
    margin-inline: auto;
}

 .img1 {
    position: relative;
    z-index: 2;
    transform: scale(1);
    transition: transform var(--transform-speed) ease-in-out;
 }

 .container:hover {
    transform:
        scale(1.09)
        translateY(-0.5rem);
  }

  .img1:hover {
    transform:
    scale(1.05)
    translateY(-0.2rem);
  }

/*  */

main {
    /* border: 2px solid green; */
    width: 100%;
    max-width: 1100px;
    margin-inline: auto;
}

.home {
    /* background-color:#36a9fc; */
    display: flex;
    flex-direction: row;
    padding-top: 8rem;
    padding-bottom: 12rem;
}

.home .describe-me {
    max-width: 60%;
    align-items: center;
    /* border: 2px solid green; */
}

.home .describe-me .describe {
    padding: 3rem 0rem 0rem 0rem;
}

.wrapper {
    padding-top: 1rem;
    /* border: 2px solid green; */
}

.describe p {
    font-size: 22px;
}

h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 35px;
    color: #010057;
}

.wrapper .button {
    display: inline-block;
    height: 60px;
    width: 60px;
/* float: left; */
    overflow: hidden;
    margin: 0 5px;
    background: none;
    border-radius: 50px;
    cursor: pointer;
    /* box-shadow: 0px 10px 10px rgba(0,0,0,0.1); */
    transition: all 0.3s ease-out;
}

.wrapper {
    display: flex;
    justify-content:end;
}

.wrapper .button:hover {
    width: 170px;
}

html,body {
    height: 100%;
    width: 100%;
    /* background: linear-gradient(315deg, #ffff 0%, #d7e1ec 74%); */
}

.wrapper .button .icon {
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.3s ease-out;
}

.wrapper .button:nth-child(1):hover .icon {
    background: #E1306C;
}

.wrapper .button:nth-child(2):hover .icon {
    background: #4267B2;
}

.wrapper .button:nth-child(3):hover .icon {
    background: #36a9fc;
}

.wrapper .button:nth-child(1) a {
    color: #E1306C;
    text-decoration: none;
}

.wrapper .button:nth-child(2) a {
    color: #4267B2;
    text-decoration: none;
}

.wrapper .button:nth-child(3) a {
    color: #36a9fc;
    text-decoration: none;
}

.wrapper .button .icon i{
    font-size: 25px;
    line-height: 60px;
    transition: all 0.3s ease-out;
}

.wrapper .button:hover .icon i {
    color: #fff;
}

.wrapper .button span {
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 5px;
    transition: all 0.3s ease-out;
}

.describe-me {
    z-index: 3;
}

.desc{
    overflow: hidden;
}

.desc .text{
    position: relative;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 35px;
    color: #010057;
}

.desc .text.first-text{
    color: #010057;
}

.desc .text.third-text{
    color: #000000;
    font-size: 20px;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
}
.text.sec-text:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #f3f6ff;
    border-left: 2px solid #000000;
    animation: animate 4s steps(12) infinite;
}

@keyframes animate{
    40%, 60%{
        left: calc(100% + 4px);
    }
    100%{
        left: 0%;
    }
}

/* WORKS */

.works {
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    gap: 2rem;

    /* padding-bottom: 5rem; */
}

.works .project {
    display: flex;
    flex-direction: row;
}

.works .project1 {
    width: 80%;
}

.more p {
    font-size: 12px;
}

.more {
    display: flex;
    justify-content:end;
    justify-content:space-between;
}

.more a {
    align-self: center;
}

.skill {
    display: flex;
    flex-direction: row;

    padding-bottom: 5rem;
}

.skill1 {
    width: 45%;
}

.skill2 {
    padding: 1.7rem 0;
}

.skill2 .harder {
    text-align: center;
    margin: -1.3rem;

    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.w {
    border-top: 1px solid #010057;
    border-bottom: 1px solid #010057;
    width: 100%;
}

.w1 {
    padding-top: 2rem;
}

.project{
    justify-content: center;
    /* text-align: center; */
    margin-top: 0rem;
    margin-left: none;
}

.top{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* gap: 0rem; */
}

.wbox {
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    border-radius: 20px;
    border: 2px solid #010057;
    padding-left: 20px;
    padding-right: 10px;
    margin-top: 20px;
}



.more a {
    color: #010057;
}

.see {
    display: flex;
    justify-content:end;
    margin-top: 20px;
    /* text-decoration: none; */
    color: #010057;

    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    opacity: 70%;
font-size: smaller;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

  .interact {

    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: #000000;
  }

  :root {  
    --purple: #010057;
    --violet: #1f23a2;
    --pink: rgb(58, 102, 183);
  }
  
  @keyframes background-pan {
    from {
      background-position: 0% center;
    }
    
    to {
      background-position: -200% center;
    }
  }
  
  @keyframes scale {
    from, to {
      transform: scale(0);
    }
    
    50% {
      transform: scale(1);
    }
  }
  
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    
    to {
      transform: rotate(180deg);
    }
  }
  
  h1 {
    color: white;
    font-family: "Rubik", sans-serif;
    text-align: center;
    font-size:50px;
  }
  
  h1 > .magic {
    display: inline-block;
    position: relative;
  }
  
  h1 > .magic > .magic-star {
    --size: clamp(20px, 1.5vw, 30px);
    
    animation: scale 700ms ease forwards;
    display: block;
    height: var(--size);
    left: var(--star-left);
    position: absolute;
    top: var(--star-top);
    width: var(--size);
  }
  
  h1 > .magic > .magic-star > svg {
    animation: rotate 1000ms linear infinite;
    display: block;
    opacity: 0.7;
  }
  
  h1 > .magic > .magic-star > svg > path {
    fill: var(--violet);
  }
  
  h1 > .magic > .magic-text {
    animation: background-pan 3s linear infinite;
    background: linear-gradient(
      to right,
      var(--purple),
      var(--violet),
      var(--pink),
      var(--purple)
    );
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
  }

.game1 {
    display: flex;
    text-align: center;
    align-items: center;
}

.game1p {
    opacity: 0;
}

.gamep {
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  /*  */

.game2 {
    width: 100%;
    /* border: 1px solid red; */
    height: var(--height);
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
        transparent,
        #000 10% 90%,
        transparent
    );
    margin: 2.5rem 0;
    
    
}

.game2 .game-list {
    display: flex;
    width: 100%;
    min-width: calc(var(--width) * var(--quantity));
    position: relative;
    
}

.game2 .game-list .item {
    width: var(--width);
    height: var(--height);
    position: absolute;
    right: 100%;
    animation: autoRun 50s linear infinite;
    animation-delay: calc( (50s / var(--quantity)) * (var(--position) - 1) );
    transition: filter 0.5s;
}

.game2 .game-list .item img{
    width: 100%;
    border-radius: 5%;
}

@keyframes autoRun {
    from {
        right: 100%;
    } to {
        right: calc(var(--width) * -1 );
    }
}

.game2:hover .item {
    animation-play-state: paused!important;
    filter: grayscale(1);
}

.game2 .item:hover {
    filter: grayscale(0);
}

.game-msg {
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    
    margin-top: 4.5rem;
    padding-bottom: 4rem;

    text-align: center;
    border-bottom: 1px solid #010057;
}

.descc {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}


/*  */

footer {
    font-size: xx-large;
    text-align: center;
    padding: 1rem 0 0 0;
}

@media screen and (max-width: 1200px) {
    header , body , footer {
        padding: 2rem;
    }

    .person {
        max-width: 17rem;
    }

    .home {
        padding-top: 6.5rem;
        padding-bottom: 10rem;
    }
    
    .skill {
        padding-bottom: 3rem;
    }

    .game2 .game-list .item {
        width: 430px;
        height: 430px;
    }

    .game-msg {
        margin-top: 3rem;
    padding-bottom: 3rem;
    }

    footer p {
        margin: 0;
    }

    footer {
        padding-bottom: 0;
    }
}

@media screen and (max-width: 1100px) {

    header {
        /* padding-top: 1rem; */
        padding-left: 0;
    }

    body {
        padding: 0 4rem;
    }
}


@media screen and (max-width: 1010px) {

    header {
        padding-left: 0;
    }

    body {
        padding: 0 4rem;
    }

    .desc span {
       font-size: 20px;
    }

    .describe p {
        font-size: 20px;
    }

    .text.first-text {
        font-size: 29px;
    }

    .text.sec-text {
        font-size: 29px;
    }

}

@media screen and (max-width: 820px) {

    body {
        max-width: 450px;
        margin: auto;
    }

.descc {
    gap: 0;
}

    .home {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .home .describe-me {
        max-width: 100%;
        align-items: center;
    }

    .home .descc {
        display: flex;
        flex-direction: column;
    }
    
    .home .describe-me .describe {
        padding: 3rem 0rem 0rem 0rem;
    }

    .text.first-text {
        font-size: 30px;
    }

    .text.sec-text {
        font-size: 30px;
    }

    .text.third-text p {
        margin-top: 10px;
    }

    .wrapper {
        padding-top: 0;
        padding-bottom: 1rem;
    }

    .works .project {
        display: flex;
        flex-direction: column;
    }

    .works .skill {
        display: flex;
        flex-direction: column;
    }

    .skill2 {
        padding-top: 0;
    }

    .magic-text {
        font-size: 45px;
    }



}

@media screen and (max-width: 500px) {

    body {
        max-width: 450px;
        margin: auto;
       
    }

    .home {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .home .describe-me {
        max-width: 100%;
        align-items: center;
    }

    .home .descc {
        display: flex;
        flex-direction: column;
    }
    
    .home .describe-me .describe {
        padding: 3rem 0rem 0rem 0rem;
    }

    .text.first-text {
        font-size: 25px;
    }

    .text.sec-text {
        font-size: 25px;
    }

    .text.third-text p {
        margin-top: 10px;
    }

    .wrapper {
        padding-top: 0;
        padding-bottom: 1rem;
    }

    .works .project {
        display: flex;
        flex-direction: column;
    }

    .works .skill {
        display: flex;
        flex-direction: column;
    }

    .skill2 {
        padding-top: 0;
    }

    .magic-text {
        font-size: 45px;
    }



}