* {
    padding: 0;
    margin: 0;
}

#game {
    width: 500px;
    height: 200px;
    border: 1px solid black;
}

.game{
    margin-top: 2%;
    margin-left: 33.5%;
}

.skor {
    text-align: center;
    display: flex;
    flex-direction: row;
}

.text {
    text-align: center;
    margin-top: 20%;
}

#character {
    width: 50px;
    height: 90px;
    background-color: red;
    position: relative;
    top: 110px;
}

.img1 {
    width: 50px;
    height: 90px; 
}

.animate {
    animation: jump 500ms;
}

@keyframes jump {
    0%{top:110px;}
    30%{top:60px;}
    70%{top:60px;}
    100%{top:110px;}
}

#block {
    width: 40px;
    height: 40px;
    background-color: blue;
    position: relative;
    top: 70px;
    left: 460px;
    animation: block 1s infinite ease-in-out;
}

.img2 {
    width: 40px;
    height: 40px;
}



@keyframes block {
    0%{left:460px;}
    100%{left:0px;}
}